#card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

  }

#tester {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

  }

#cart-logo{
    text-align: right;
}

#button{
  color: aliceblue
}