#card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-left:10% ;
    padding-right:15% ;
  }


.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

#tester {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

  }

#cart-logo{
    text-align: right;
}

#button{
  color: aliceblue
}